.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.precio{
    color: #10237a;
    font-size: 2.5rem;
    font-weight: 700;

}

.compra{
    display: flex;
    gap: 1rem;
}

